.specialities {
  background-color: white;
}

.specialities-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.speciality-card {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: var(--shadow-card);
  transition: var(--transition);
  cursor: pointer;
  border: 1px solid var(--border-light);
  /* border-left: 4px solid var(--primary-color); */
}

.speciality-card:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-hover);
  /* border-color: var(--primary-light); */
}

.speciality-card h3 {
  font-size: 1rem;
  color: var(--text-dark);
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
}

@media (max-width: 1024px) {
  .specialities-grid {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 18px;
  }
}

@media (max-width: 768px) {
  .specialities-grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  
  .speciality-card {
    padding: 24px 20px;
  }
}

